<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
			<header class="major">
				<h1>Contact Me</h1>
			</header>
			<form action="https://formspree.io/rishabhramtekegsr@gmail.com" method="POST">
				<div class="field half first">
					<label for="name">Your Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Your Email</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message for Me</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Location</h3>
					<span>Amsterdam, Netherlands</span>
				</div>
			</section>
		</section>
	</div>
</section>
